<div layout="column" layout-align="center center" layout-fill>
    <div layout="column" class="fpd md-whiteframe-z1 layout-column">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>{{"fpd" |translate}}</span></h2>
        </md-toolbar>
        <form name="fpdForm" layout="column" ng-submit="fpd.requestPassword(fpdForm)" novalidate>
            <md-input-container>
                <label>{{"fpd.email" |translate}}</label>
                <input type="email" ng-model="fpd.credentials.email" required name="email">
                <div ng-messages="fpdForm.email.$error" ng-if='fpdForm.email.$dirty'>
                    <div ng-message="required">{{"input.required" | translate}}</div>
                    <div ng-message="email">{{"input.email" | translate}}</div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised" ng-class="{'md-primary' : fpdForm.$valid }" type="submit">{{"fpd.reinit" |translate}}</md-button>
                <md-button ui-sref="login">{{"fpd.backToLogin" |translate}}</md-button>
            </div>
        </form>
    </div>
</div>